* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 
@keyframes a1{
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}

}
@keyframes a2 {
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}
}

@keyframes a3 {
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}
}

.a1 {
    animation-name: a1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.a2{
    
    animation-name: a2;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 2.2s;
    

}

.a3{
    position: absolute;
    animation-name: a3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

.car{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    
}

.car img{
    width: 250px; 
    height: 350px;
    margin: auto;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.61);
}

@media (min-width:760px){
   .a1{
    position: absolute;
   }
    .a3{
        position: absolute;
        animation-name: a3;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-delay: 4.3s;
    }
}

@media (min-width:480px) and (max-width:760px){
    .car img{
        width: 150px; 
        height: 250px;
        margin: auto;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.61);
    }
    @keyframes a1{
        0% {margin-left: 150vw;
            width: 150px;}
        100%{margin-left: 25vw;
            width: 150px;}
      
    
    }
    
    @keyframes a2 {
        0% {margin-left: 200vw;}
        50%{margin-left: 150vw;}
        100%{margin-left: 25vw;}
    
    }
    
    @keyframes a3 {
        0% {margin-left: 250vw;}
        50%{margin-left: 200vw;}
        75%{margin-left: 150vw;}
        100%{margin-left: 25vw;}
    
    }
    
    .a1 {
        
        animation-name: a1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 5s;
        
    }
    
    .a2 {
        
        animation-name: a2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
       
    }
   
    .a3{
       
        animation-name: a3;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        
        
    }


}

   

