* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-y: hidden;
} 

@keyframes a1{
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}

}
@keyframes a2 {
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}
}

@keyframes a3 {
    0% {margin-left: 150vw;}
    25%{margin-left: 100vw;}
    50%{margin-left: 50vw;}
    75%{margin-left: 0vw;}
    100%{margin-left: -110vw;}
}

.a1 {
    animation-name: a1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.a2{
    position: absolute;
    animation-name: a2;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 2.2s;
    

}

.a3{
    position: absolute;
    animation-name: a3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

.car{
    margin-top: 10px;
    width: 100%;
    height: 350px;
    display: flex;
    
}

.car img{
    width: 250px; 
    height: 350px;
    margin: auto;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.61);
}

@media (min-width:760px){
   .a1{
    position: absolute;
   }
    .a3{
        position: absolute;
        animation-name: a3;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-delay: 4.3s;
    }
}

@media (min-width:480px) and (max-width:760px){
    .car img{
        width: 150px; 
        height: 250px;
        margin: auto;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.61);
    }
    @keyframes a1{
        0% {margin-left: 150vw;}
        50%{margin-left: 25vw;}
        100%{margin-left: -150vw;}
    }
    
    @keyframes a2 {
        0% {margin-left: 150vw;}
        50%{margin-left: 25vw;}
        100%{margin-left: -150vw;}
    }
    
    .a1 {
        position: absolute;
        animation-name: a1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    
    .a2 {
        position: absolute;
        animation-name: a2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
    }
   
    .a3{  
     display: none;
    }


}

@media (min-width:100px) and (max-width: 479px){
    .car img{
       height: 250px;
       width: 200px;
    }
    
    .a3{
        display: none;
    }

    .a1{
        position: absolute;
        animation-duration: 8s;
    }
    .a2{
        animation-duration: 8s;
        position: absolute;
    }

    @keyframes a1{
        0% {margin-left: 150vw;}
        40%{margin-left: 25vw;}
        100%{margin-left: -150vw;}
    }
    
    @keyframes a2 {
        0% {margin-left: 150vw;}
        50%{margin-left: 25vw;}
        100%{margin-left: -150vw;}
    }

}

   

